h2 {
  color: aqua;
  text-align: center;
  background-color: yellow;
  margin-left:30%;
    margin-right:30%;
}

h3 {
  color: white;
  text-align: center;
  background-color: black;
    margin-left:30%;
    margin-right:30%;
}